<div class="toolbar">
<!-- Разметка переключателя мовы -->
  <div class="lang-switch">
    <svg class="lang-switch__icon" role="img" aria-label="Иконка солнца">
      <use href="/src/images/symbol-defs.svg#russia"></use>

    </svg>

    <div class="lang-switch__control">
      <input class="lang-switch__toggle" type="checkbox" name="language" id="lang-switch-toggle"
        aria-label="Переключить между тёмной и светлой темой" />
      <label aria-hidden="true" class="lang-switch__track" for="lang-switch-toggle">
      </label>
      <div aria-hidden="true" class="lang-switch__marker"></div>
    </div>


    <svg class="lang-switch__icon" aria-label="Иконка луны">
      <use href="/src/images/symbol-defs.svg#ukraine"></use>
    </svg>
  </div>
</div>